<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>673820295780-dlv1vhk220shcrli7vm0dcn70nve7m1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673820295780-dlv1vhk220shcrli7vm0dcn70nve7m1i</string>
	<key>API_KEY</key>
	<string>AIzaSyCV6-oPi13OPQhimE6MJjQ5ShwiFpyvDnE</string>
	<key>GCM_SENDER_ID</key>
	<string>673820295780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ALI.ChattingApp</string>
	<key>PROJECT_ID</key>
	<string>qura-an</string>
	<key>STORAGE_BUCKET</key>
	<string>qura-an.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673820295780:ios:334572bed3325e79</string>
	<key>DATABASE_URL</key>
	<string>https://qura-an.firebaseio.com</string>
</dict>
</plist>